<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag :all %>
  <link  href="http://fonts.googleapis.com/css?family=Cabin+Sketch:bold" rel="stylesheet" type="text/css" >
<link  href="http://fonts.googleapis.com/css?family=Nobile:regular,bold" rel="stylesheet" type="text/css" >
  <%# javascript_include_tag :defaults %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js' %>
  <%= javascript_include_tag 'rails_jquery.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= active_scaffold_includes %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrap">
	<div id="header"> 	<h1>Restaurant Finder</h1></div>
	<div id="nav"><ul id="navlist">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Restaurant Admin", restaurants_path %></li>
		<li><%= link_to "Category Admin", categories_path %></li>
		</ul>
		</div>
	<div id="main"><h2><%= flash[:notice] %> </h2><%= yield %></div>
	<div id="sidebar"> 
			<h2> Filter: <img id="loading" src="/images/loading.gif" alt="Loading... "/> </h2>
		<% form_tag url_for(:action => "index"), :id => "tool-form", :remote => true do %>
	
		<%= label_tag 'walk', 'Walking Distance?' %>
		<%= check_box_tag 'walk', 't' %> <br />
		<%= label_tag 'deliver', 'Delivery?' %>
		<%= check_box_tag 'deliver', 't' %><br />
		<h4> Type: </h4>
		<% Restaurant.list_options.each do |x| %>
		<label for="cat_id_<%= x["id"] %>"><%= x["name"] %></label>
		<input id="cat_id_<%= x["id"] %>" name="cat_id[]" type="checkbox" value="<%= x["id"] %>" /> <br />
		<% end %>
		<br />
		<%= label_tag 'limit', "How Many Results Do You Want?" %>
		<%= number_field_tag 'limit', '50', :in => 1...50 %>
		<%= submit_tag nil, :class => "form_submit" %>
		<% end %>
	</div>
	<div id="footer"><p>Garrett Hawes | CS 80 | Santa Monica College | 2011</p><div class="footer_links"> <img src="images/mailsmall.png" alt="mail" /><img src="images/facebooksmall.png" alt="facebook" /></div></div>
</div>
</body>
</html>
